:root {
    --clr1: rgb(237, 237, 237);
    --clr2: rgb(209, 209, 209);
    --clr3: rgb(194, 194, 194);
    --clr4: rgb(105, 105, 105);
    --clr5: rgb(68, 68, 68);
  
    --yellow1: rgb(247, 235, 157);
    --yellow2: rgb(247, 234, 93);
    --yellow3: rgb(249, 197, 85);
    
  

}


