
.main-content{
  display: flex;
  justify-content: center;
}


.main-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;

}

.fully{
  grid-column: 1/-1;
}

.main-layout>* {
  grid-column: 2;
}

.main-layout .full {
  grid-column: 1/-1;
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
  border: 2px solid grey;
  border-radius: 0.5em;
}

.main-flex {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px
}