.bug-edit {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid var(--clr3);
    width: 60%;
    height: 350px;
    margin-top: 20px;
    text-align: center;
}

.txts-input {
    border-radius: 0.5em;
    border: 1px solid var(--clr2);
    margin: 5px;
    height: 30px;
}

.edit-title {
    padding: 25px;
    color: var(--clr4);
}

.btns-section {
    padding: 25px;
}